!!!5
%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf-8"}
        %title La mejor comida en Restaurante Facilito
        %meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad, servicio de primera."}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
        %link{rel:"stylesheet", href:"css/normalize.css"}
        %link{rel:"stylesheet", href:"css/bootstrap.css"}
        %link{rel:"stylesheet", href:"css/flexboxgrid-6.3.1/css/flexboxgrid.min.css"}
        %link{rel:"stylesheet", href:"css/style.css"}
        %script{src:"js/vendor/modernizr-3.6.0.min.js"}
    %body
        ="<!--[if lt IE 9]>"
        %p{class:"browserupgrade"}
            Estás usando un navegador
            %strong desactualizado.
            Por favor
            %a{href:"http://browsehappy.com/"}
                actualiza tu navegador
            para una mejor experiencia
        ="<![endif]-->"
        .video-container
            %video{autoplay:true, width:"1280", height:"720",poster:"",loop:true}
                %source{src:"videos/mp4/out-camping.mp4",typ:"video/mp4"}
                %source{src:"videos/webm/out-camping.webm",typ:"video/webm"}
        .row.full-height.middle-xs.center-xs.relative.up
            .col-xs-12
                .box.white-text
                    %img{src:"imgs/logo.png", width:180}
                    %h1.dancing-script.title.no-margin Restaurante Tuchis
                    %p#is-open.white-text.medium
                        %i.glyphicon.glyphicon-time
                        Abierto Ahora
            %nav.fixed.top.right.navigation.white-text#navigation
                -menu = ["Inicio","Menu","Galeria","Contacto","Como llegar"]
                %ul.list-inline
                    -menu.each do |item|
                        %li
                            %a{}= item
            .absolute.black.large-padding.white-text.full-width#description                
                .row.middle-xs.center-xs
                    .col-xs7.col-md-6.white-text.medium
                        Atencion calida y comida preparada por especialistas
                    .col-xs.hidden#sticky-navigation
                        .box
                            %nav.text-right.navigation
                                %ul.list-inline
                                    -menu.each do |item|
                                        %li
                                            %a{}= item
        .full-height




        // First try loading jQuery CDN
        %script{src:"https://code.jquery.com/jquery-3.3.1.js",
        integrity:"sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=",
        crossorigin:"anonymous"}
        // Fall back to a local copy of jQuery if the CDN fails
        %script 
            window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
        %script{src:"dist/main.js"}
